<ng-scrollbar
  style="height: calc(100vh - 70px)"
  visibility="hover"
>

  <div class="navbar-content">

    <!-- Navigation ClientFlow -->
    <ul
      class="nav coded-inner-navbar"
      (click)="fireOutClick()"
      (keydown.space)="fireOutClick()"
      (keydown.enter)="fireOutClick()"
    >

      @for (
        item of navigations;
        track item
      ) {

        @if (
          item.type === 'group'
        ) {

          <app-nav-group
            [item]="item"
          />

        } @else if (
          item.type === 'collapse'
        ) {

          <app-nav-collapse
            [item]="item"
          />

        } @else if (
          item.type === 'item'
        ) {

          <app-nav-item
            [item]="item"
          />

        }

      }

    </ul>

    <!-- Retour vers le site officiel -->
    <div
      class="px-3 mt-4 mb-4"
    >

      <div
        class="border-top pt-4"
      >

        <a
          href="http://localhost:4201"
          class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center gap-2"
        >

          <i
            class="ti ti-arrow-left"
          ></i>

          <span>
            Retour au site
          </span>

        </a>

      </div>

    </div>

  </div>

</ng-scrollbar>