<nav>
  <div class="navbar-wrapper">

    <div class="m-header">
      <a
        [routerLink]="['/default']"
        style="
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          padding-left: 15px;
        "
      >
        <img
          src="assets/images/clientflow-logo.png"
          alt="Logo ClientFlow"
          style="
            width: 45px;
            height: 45px;
            object-fit: contain;
          "
        />

        <span
          style="
            color: #1e293b;
            font-size: 23px;
            font-weight: 700;
          "
        >
          ClientFlow
        </span>
      </a>
    </div>

    <app-nav-content
      (NavCollapsedMob)="navCollapseMob()"
      (SubmenuCollapse)="navSubmenuCollapse()"
      class="scroll-div w-100 compact"
    />

  </div>
</nav>